<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Serenity - Modern bootstrap website template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="{% static 'app/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/bootstrap-responsive.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/docs.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/prettyPhoto.css' %}" rel="stylesheet">
  <link href="{% static 'app/js/google-code-prettify/prettify.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'app/color/default.css' %}" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'app/ico/apple-touch-icon-144-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'app/ico/apple-touch-icon-114-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'app/ico/apple-touch-icon-72-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" href="{% static 'app/ico/apple-touch-icon-57-precomposed.png' %}">

</head>
  <!-- =======================================================
    Theme Name: Serenity
    Theme URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->



  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span4">
          <aside>
            <!--<div class="widget">-->
            <!--</div>-->
            <div class="widget">
              <h4>태그 카테고리</h4>
              <ul class="cat">
                <li><a href="#"> #학교정보 (114)</a></li>
                <li><a href="#"> #학교 주변 리뷰 (15)</a></li>
                <li><a href="#"> #취업 정보 (20)</a></li>
                <li><a href="#"> #질문 (15)</a></li>
                <li><a href="#"> #질문 (15)</a></li>
              </ul>
            </div>
          </aside>
        </div>

        <div class="span8">
          <article class="blog-post">
        </article>
          <!-- start popular article 1 -->
          <article class="blog-post">
            <h1> 인기 글</h1>
            <div class="post-heading">
              <h4><a href="#">한양대 교양 중 가장 재밌는 교양 추천</a></h4>
            </div>
            <div class="row">
              <div class="span3">
                <div class="post-image">
                  <a href="#"><img src="{% static 'app/img/dummies/blog1.jpg' %}" alt="" /></a>
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-user"></i><span>UserId</span></li>
                  <li>
                    <span><i class="icon-tags"></i> 학교정보</a></span></li>
                  <li class="last"><span><i class="icon-gift"></i>coin</span></li>
                  <li class="last"><span><i class="icon-calendar"></i>3일전</span></li>
                </ul>
                <div class="clearfix">
                </div>
                <p>
                  교양장인인 제가 생각했을때 가장 추천할만한 교양을 꼽자면 당연히 그거 죠 그 교양 그 이름이 무엇이냐.....  유쾌한 이노베이션 정효찬 교수님 교양으로 듣는 논어와 맹자 인간과 음악적 상상력 정경성 교수님 혁신과 잡종의 과학사 남영 교수님 이네요..
                </p>
                <ul class="post-meta">
                  <li class="first"><i class="icon-heart"></i><span>voting</span></li>
                  <li>
                    <span><i class="icon-pencil"></i>comment</a></span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end popular article 1 -->
          <!-- start popular article 2 -->
            <div class="post-heading">
              <h4><a href="#">한양대 교양 중 가장 재밌는 교양 추천</a></h4>
            </div>
            <div class="row">
              <div class="span3">
                <div class="post-image">
                  <a href="#"><img src="{% static 'app/img/dummies/blog1.jpg' %}" alt="" /></a>
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-user"></i><span>UserId</span></li>
                  <li>
                    <span><i class="icon-tags"></i> 학교정보</a></span></li>
                  <li class="last">
                    <span><i class="icon-gift"></i>coin</span>
                  </li>
                  <li class="last">
                    <span><i class="icon-calendar"></i>3일전</span>
                  </li>
                </ul>
                <div class="clearfix">
                </div>
                <p>
                  교양장인인 제가 생각했을때 가장 추천할만한 교양을 꼽자면 당연히 그거 죠 그 교양 그 이름이 무엇이냐..... 유쾌한 이노베이션 정효찬 교수님 교양으로 듣는 논어와 맹자
인간과 음악적 상상력 정경성 교수님 혁신과 잡종의 과학사 남영 교수님 이네요..
                </p>
                <ul class="post-meta">
                  <li class="first"><i class="icon-heart"></i><span>voting</span></li>
                  <li>
                    <span><i class="icon-pencil"></i>comment</a></span>
                  </li>
                </ul>
              </div>
            </div>
          <!-- end popular article 2 -->
          <!-- start popular article 3 -->
            <div class="post-heading">
              <h4>
                <a href="#">한양대 교양 중 가장 재밌는 교양 추천</a>
              </h4>
            </div>
            <div class="row">
              <div class="span3">
                <div class="post-image">
                  <a href="#"><img src="{% static 'app/img/dummies/blog1.jpg' %}" alt="" /></a>
                 </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-user"></i><span>UserId</span></li>
                  <li>
                    <span><i class="icon-tags"></i> 학교정보</a></span>
                  </li>
                  <li class="last">
                    <span><i class="icon-gift"></i>coin</span>
                  </li>
                  <li class="last">
                    <span><i class="icon-calendar"></i>3일전</span>
                  </li>
                </ul>
                <div class="clearfix">
                </div>
                <p>
                  교양장인인 제가 생각했을때 가장 추천할만한 교양을 꼽자면 당연히 그거 죠
 그 교양 그 이름이 무엇이냐.....
유쾌한 이노베이션 정효찬 교수님
교양으로 듣는 논어와 맹자
인간과 음악적 상상력 정경성 교수님
혁신과 잡종의 과학사 남영 교수님 이네요..
                </p>
                <ul class="post-meta">
                  <li class="first"><i class="icon-heart"></i><span>voting</span></li>
                  <li>
                    <span><i class="icon-pencil"></i>comment</a></span>
                  </li>
                </ul>
              </div>
            </div>
          </article>
          <!-- end popular article 3 -->
          <!-- start latest article 1 -->
          <h1>최신 글</h1>
          <article class="blog-post">
            <div class="post-heading">
              <h4><a href="#">한양대 교양 중 가장 재밌는 교양 추천</a></h4>
            </div>
            <div class="row">
              <div class="span3">
                <div class="post-image">
                  <a href="#"><img src="{% static 'app/img/dummies/blog1.jpg' %}" alt="" /></a>
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-user"></i><span>UserId</span></li>
                  <li>
                    <span><i class="icon-tags"></i>학교정보</span>
                  </li>
                  <li class="last">
                    <span><i class="icon-gift"></i>coin</span>
                  </li>
                  <li class="last">
                    <span><i class="icon-calendar"></i>3일전</span>
                  </li>
                </ul>
                <div class="clearfix">
                </div>
                <p>
                  교양장인인 제가 생각했을때 가장 추천할만한 교양을 꼽자면 당연히 그거 죠
 그 교양 그 이름이 무엇이냐.....
유쾌한 이노베이션 정효찬 교수님
교양으로 듣는 논어와 맹자
인간과 음악적 상상력 정경성 교수님
혁신과 잡종의 과학사 남영 교수님 이네요..
                </p>
                <ul class="post-meta">
                  <li class="first">
                    <i class="icon-heart"></i><span>voting</span>
                  </li>
                  <li>
                    <span><i class="icon-pencil"></i>comment</a></span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end latest article 1 -->
          <!-- start latest article 2 -->
            <div class="post-heading">
              <h4><a href="#">한양대 교양 중 가장 재밌는 교양 추천</a></h4>
            </div>
            <div class="row">
              <div class="span3">
                <div class="post-image">
                  <a href="#"><img src="{% static 'app/img/dummies/blog1.jpg' %}" alt="" /></a>
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-user"></i><span>UserId</span></li>
                  <li>
                    <span><i class="icon-tags"></i> 학교정보</a></span></li>
                  <li class="last">
                    <span><i class="icon-gift"></i>coin</span>
                  </li>
                  <li class="last">
                    <span><i class="icon-calendar"></i>3일전</span>
                  </li>
                </ul>
                <div class="clearfix">
                </div>
                <p>
                  교양장인인 제가 생각했을때 가장 추천할만한 교양을 꼽자면 당연히 그거 죠
 그 교양 그 이름이 무엇이냐.....
유쾌한 이노베이션 정효찬 교수님
교양으로 듣는 논어와 맹자
인간과 음악적 상상력 정경성 교수님
혁신과 잡종의 과학사 남영 교수님 이네요..

                </p>
                <ul class="post-meta">
                  <li class="first">
                    <i class="icon-heart"></i><span>voting</span>
                  </li>
                  <li>
                    <span><i class="icon-pencil"></i>comment</a></span>
                  </li>
                </ul>
              </div>
            </div>

          </article>
          <!-- end latestarticle 3 -->
          <div class="pagination">
            <ul>
              <li><a href="#">Prev</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer
 ================================================== -->
  <!---->
  <!--<footer class="footer">-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="span4">-->
          <!--<div class="widget">-->
            <!--<h5>Browse pages</h5>-->
            <!--<ul class="regular">-->
              <!--<li><a href="#">Work for us</a></li>-->
              <!--<li><a href="#">Creative process</a></li>-->
              <!--<li><a href="#">Case study</a></li>-->
              <!--<li><a href="#">Scaffold awwards</a></li>-->
              <!--<li><a href="#">Meet the team</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="span4">-->
          <!--<div class="widget">-->
            <!--<h5>Recent blog posts</h5>-->
            <!--<ul class="regular">-->
              <!--<li><a href="#">Lorem ipsum dolor sit amet</a></li>-->
              <!--<li><a href="#">Mea malis nominavi insolens ut</a></li>-->
              <!--<li><a href="#">Minim timeam has no aperiri sanctus ei mea per pertinax</a></li>-->
              <!--<li><a href="#">Te malorum dignissim eos quod sensibus</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="span4">-->
          <!--<div class="widget">-->
            <!--&lt;!&ndash; logo &ndash;&gt;-->
            <!--<a class="brand logo" href="index.html">-->
							<!--<img src="{% static 'app/img/logo-dark.png' %}" alt="" />-->
						<!--</a>-->
            <!--&lt;!&ndash; end logo &ndash;&gt;-->
            <!--<address>-->
							<!--<strong>Registered Companyname, Inc.</strong><br>-->
							 <!--8895 Somename Ave, Suite 600<br>-->
							 <!--San Francisco, CA 94107<br>-->
							<!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
						<!--</address>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="verybottom">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="span6">-->
            <!--<p>-->
              <!--&copy; Serenity - All right reserved-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="span6">-->
            <!--<div class="credits">-->
              <!--&lt;!&ndash;-->
                <!--All the links in the footer should remain intact.-->
                <!--You can delete the links only if you purchased the pro version.-->
                <!--Licensing information: https://bootstrapmade.com/license/-->
                <!--Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Serenity-->
              <!--&ndash;&gt;-->
              <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</footer> -->

  <!-- JavaScript Library Files -->
  <script src="{% static 'app/js/jquery.min.js' %}"></script>
  <script src="{% static 'app/js/jquery.easing.js' %}"></script>
  <script src="{% static 'app/js/google-code-prettify/prettify.js' %}"></script>
  <script src="{% static 'app/js/modernizr.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.js' %}"></script>
  <script src="{% static 'app/js/jquery.elastislide.js' %}"></script>
  <script src="{% static 'app/js/sequence/sequence.jquery-min.js' %}"></script>
  <script src="{% static 'app/js/sequence/setting.js' %}"></script>
  <script src="{% static 'app/js/jquery.prettyPhoto.js' %}"></script>
  <script src="{% static 'app/js/application.js' %}"></script>
  <script src="{% static 'app/js/jquery.flexslider.js' %}"></script>
  <script src="{% static 'app/js/hover/jquery-hover-effect.js' %}"></script>
  <script src="{% static 'app/js/hover/setting.js' %}"></script>

  <!-- Template Custom JavaScript File -->
  <script src="{% static 'app/js/custom.js' %}"></script>


</body>

</html>
